exportPattern("^[[:alpha:]]+")

S3method(predict, gsm)
S3method(summary, gsm)
S3method(print, gsm)
S3method(print, summary.gsm)

S3method(predict, sm)
S3method(summary, sm)
S3method(print, sm)
S3method(print, summary.sm)

S3method(boot, ss)
S3method(plot, ss)
S3method(predict, ss)
S3method(summary, ss)
S3method(print, ss)
S3method(print, summary.ss)

S3method(plot, boot.ss)
S3method(print, boot.ss)

importFrom("grDevices", "col2rgb", "rgb")
importFrom("graphics", "axis", "box", "lines", "lines.default", 
             "plot.default", "polygon")
importFrom("stats", ".nknots.smspl", "approx", "cov", "dbinom", "dgamma", "dnorm", 
           "dpois", "fitted", "gaussian", "IQR", "as.formula", "cor", "dist", 
           "make.link", "model.frame", "model.matrix", "model.response", 
           "na.pass", "nlm", "optimize", "pchisq", "pf", "pnorm", "poisson", 
           "predict", "pt", "qnorm", "quantile",  "rgamma", "rpois", "rnorm",
           "sd", "symnum", "var")
importFrom("utils", "head", "setTxtProgressBar", "txtProgressBar")